*.xlsx
*.log
&.DS_Store
/bin/
/obj/
*.zip
.fake
*.dll
*.pdb
*.xlsx
deploy.zip
bin/Debug/net9.0/SwiftsPlayerApi.dll
bin/Debug/net9.0/SwiftsPlayerApi.pdb
bin/Release/net9.0/SwiftsPlayerApi.dll
bin/Release/net9.0/SwiftsPlayerApi.pdb
obj/Debug/net9.0/SwiftsPlayerApi.AssemblyInfo.cs
obj/Debug/net9.0/SwiftsPlayerApi.AssemblyInfoInputs.cache
obj/Debug/net9.0/SwiftsPlayerApi.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/SwiftsPlayerApi.dll
obj/Debug/net9.0/SwiftsPlayerApi.pdb
obj/Debug/net9.0/SwiftsPlayerApi.sourcelink.json
obj/Debug/net9.0/ref/SwiftsPlayerApi.dll
obj/Debug/net9.0/refint/SwiftsPlayerApi.dll
obj/Release/net9.0/SwiftsPlayerApi.AssemblyInfo.cs
obj/Release/net9.0/SwiftsPlayerApi.AssemblyInfoInputs.cache
obj/Release/net9.0/SwiftsPlayerApi.csproj.CoreCompileInputs.cache
obj/Release/net9.0/SwiftsPlayerApi.dll
obj/Release/net9.0/SwiftsPlayerApi.pdb
obj/Release/net9.0/SwiftsPlayerApi.sourcelink.json
obj/Release/net9.0/ref/SwiftsPlayerApi.dll
obj/Release/net9.0/refint/SwiftsPlayerApi.dll
publish/SwiftsPlayerApi.dll
publish/SwiftsPlayerApi.pdb
